#!/bin/sh
# Installs https://github.com/ranger/ranger once


{{ if not .is_termux -}}

{{- if not .is_remote }}

	{{- if (or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") (eq .osid "linux-pop")) }}

# see https://github.com/ranger/ranger#dependencies for informations on what the packages do
	DEBIAN_FRONTEND=noninteractive sudo apt install ranger file python3-chardet imagemagick librsvg2-2 ffmpeg bat highlight atool w3m poppler-utils exiftool mediainfo odt2txt openscad -y > /dev/null
	
	# for drag and drop also install https://github.com/mwh/dragon
	
	{{ else }}
		echo "Ranger installation is not engineered for this OS"
	{{- end }}

{{- end }}

{{ end -}}