#!/bin/sh

{{- if (or (eq .osid "linux-ubuntu") (eq .osid "linux-pop")) }}
  ## Update
  DEBIAN_FRONTEND=noninteractive sudo apt update > /dev/null

  ## Install (general)
  DEBIAN_FRONTEND=noninteractive sudo apt install vim zsh git lsb-release unzip yamllint fzf -y  > /dev/null

{{- else if eq .osid "linux-amzn" }}

  sudo yum update > /dev/null
  sudo yum install -y zsh vim git unzip fzf > /dev/null

{{ else }}

  echo "Unknown OS to install tools"

{{- end }}