#!/usr/bin/zsh
# changing shell requires your password and is only required on linux
shell=$(getent passwd {{ .username }} | awk -F : '{print $NF}')
if ! [ -x "$(command -v zsh)" ]; then
  chsh -s $(command -v zsh) {{ .username }}
fi