#!/bin/sh

VERSION=1.63.8 # see https://github.com/fortio/fortio/releases
ARCH={{ .chezmoi.arch }}
OS={{ .chezmoi.os }}

curl -sSL -o /tmp/fortio.tgz https://github.com/fortio/fortio/releases/download/v$VERSION/fortio-"$OS"_"$ARCH"-$VERSION.tgz
tar -C /tmp -xzf /tmp/fortio.tgz
mv /tmp/usr/bin/fortio {{ .bindir }}
rm -rf /tmp/fortio.tgz /tmp/usr