#!/bin/sh
# Note: meant to only run once and then updates are managed through package managers
# Script installs a bunch of desktop tools (not related to your shell env)

{{- if .is_desktop }}

# OS Selector
{{- if (or (eq .osid "linux-ubuntu") (eq .osid "linux-pop")) }}

  ## GPG keys
  curl -sS https://download.spotify.com/debian/pubkey_6224F9941A8AA6D1.gpg | sudo gpg --dearmor --yes -o /etc/apt/trusted.gpg.d/spotify.gpg # Spotify
  curl -fssL https://updates.signal.org/desktop/apt/keys.asc | sudo gpg --dearmor --yes -o /etc/apt/trusted.gpg.d/signal-desktop-keyring.gpg # Signal
  curl -fsSL https://download.opensuse.org/repositories/home:ungoogled_chromium/Ubuntu_Jammy/Release.key | sudo gpg --dearmor --yes -o /etc/apt/trusted.gpg.d/home_ungoogled_chromium.gpg  # ungoogled-chromium

  ## APT repos
  echo "deb http://repository.spotify.com stable non-free" | sudo tee /etc/apt/sources.list.d/spotify.list # Spotify
  echo 'deb [arch=amd64 signed-by=/etc/apt/trusted.gpg.d/signal-desktop-keyring.gpg] https://updates.signal.org/desktop/apt xenial main' | sudo tee /etc/apt/sources.list.d/signal-xenial.list # Signal
  echo 'deb http://download.opensuse.org/repositories/home:/ungoogled_chromium/Ubuntu_Jammy/ /' | sudo tee /etc/apt/sources.list.d/home:ungoogled_chromium.list > /dev/null # ungoogled chromium  

  ## Update sources
  DEBIAN_FRONTEND=noninteractive sudo apt update 

  ## Install (desktop)
  DEBIAN_FRONTEND=noninteractive sudo apt install flameshot \
  firefox code slack-desktop ungoogled-chromium fuse2fs \
  telegram-desktop diodon caffeine yubikey-manager \
  yubioath-desktop discord nextcloud-desktop \
  audacity spotify-client handbrake kitty signal-desktop \
  -y 

  # Install kDrive
  curl -fsSL -o {{ .bindir }}/kdrive.AppImage https://download.storage.infomaniak.com/drive/desktopclient/kDrive-3.5.8.20240227-amd64.AppImage
  chmod +x {{ .bindir }}/kdrive.AppImage

  # Set default terminal for gnome-shell
  kitty=$(which kitty)
  sudo update-alternatives --install /usr/bin/x-terminal-emulator x-terminal-emulator $kitty 1
  sudo update-alternatives --set x-terminal-emulator $kitty

  # Set default browser for gnome-shell
  browser=$(which chromium)
  xdg-settings set default-web-browser chromium.desktop
  sudo update-alternatives --install /usr/bin/www-browser www-browser $browser 1
  sudo update-alternatives --install /usr/bin/gnome-www-browser gnome-www-browser $browser 1
  sudo update-alternatives --set www-browser $browser
  sudo update-alternatives --set gnome-www-browser $browser

{{- end }}

{{- end }}