#!/bin/sh
# chaning shell requires your password
# thus only on interactive sessions

# no need to do this on a codespace, vscode opens always a zsh due to my settings
{{ if ne .username "codespace" }}

  shell=$(getent passwd {{ .username }} | awk -F : '{print $NF}')
  if ! [ -x "$(command -v zsh)" ]; then
    chsh -s $(command -v zsh) {{ .username }}
  fi

{{ end -}}