#!/bin/sh

KUBECTL_VERSION=v1.30.1 # see https://storage.googleapis.com/kubernetes-release/release/stable.txt
K9S_VERSION=v0.32.4 # see https://github.com/derailed/k9s/releases
KIND_VERSION=v0.23.0 # see https://github.com/kubernetes-sigs/kind/releases
K3D_VERSION=v5.6.3 # see https://github.com/k3d-io/k3d/releases
K3SUP_VERSION=0.13.5 # see https://github.com/alexellis/k3sup/releases
STERN_VERSION=1.30.0 # see https://github.com/stern/stern/releases
KUSTOMIZE_VERSION=5.4.2  # see https://github.com/kubernetes-sigs/kustomize/releases
ARCH={{ .chezmoi.arch }}
OS={{ .chezmoi.os }}

## Kubectl
curl -sSL -o /tmp/kubectl-$OS-$ARCH https://dl.k8s.io/release/$KUBECTL_VERSION/bin/$OS/$ARCH/kubectl
install -m 0555 /tmp/kubectl-$OS-$ARCH {{ .bindir }}/kubectl 
rm /tmp/kubectl-$OS-$ARCH

# completion done by oh-my-zsh plugin

## Kind
curl -sSL -o /tmp/kind-$OS-$ARCH https://kind.sigs.k8s.io/dl/$KIND_VERSION/kind-$OS-$ARCH
install -m 555 /tmp/kind-$OS-$ARCH {{ .bindir }}/kind
rm /tmp/kind-$OS-$ARCH

## K9s
curl -sSL -o /tmp/k9s-$OS-$ARCH.tar.gz -L https://github.com/derailed/k9s/releases/download/$K9S_VERSION/k9s_"$OS"_$ARCH.tar.gz
tar -zxf /tmp/k9s-$OS-$ARCH.tar.gz -C /tmp
install -m 0555 /tmp/k9s {{ .bindir }}/k9s
rm /tmp/README.md /tmp/LICENSE /tmp/k9s-$OS-$ARCH.tar.gz

## K3d
K3D_INSTALL_DIR={{ .bindir }} curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | TAG=$K3D_VERSION bash > /dev/null

## k3sup
{{- if (eq .chezmoi.arch "arm64") }}
curl -fsSL -o /tmp/k3sup https://github.com/alexellis/k3sup/releases/download/$K3SUP_VERSION/k3sup-arm64
{{- else }}
curl -fsSL -o /tmp/k3sup https://github.com/alexellis/k3sup/releases/download/$K3SUP_VERSION/k3sup
{{- end }}
install -m 0555 /tmp/k3sup {{ .bindir }}/k3sup
sudo rm /tmp/k3sup

## stern
curl -sSL -o /tmp/stern-$OS-$ARCH.tar.gz -L https://github.com/stern/stern/releases/download/v"$STERN_VERSION"/stern_"$STERN_VERSION"_"$OS"_$ARCH.tar.gz
tar -zxf /tmp/stern-$OS-$ARCH.tar.gz -C /tmp
install -m 0555 /tmp/stern {{ .bindir }}/stern
rm /tmp/LICENSE /tmp/stern-$OS-$ARCH.tar.gz

## kustomize
curl -sSL -o /tmp/kustomize.tar.gz https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2F"$KUSTOMIZE_VERSION"/kustomize_"$KUSTOMIZE_VERSION"_"$OS"_"$ARCH".tar.gz
tar -zxf /tmp/kustomize.tar.gz -C /tmp
install -m 0555 /tmp/kustomize {{ .bindir }}/kustomize
rm /tmp/kustomize /tmp/kustomize.tar.gz
