#!/bin/sh

{{ if not .is_termux -}}

VERSION=3.11.8 # see https://www.python.org/downloads/source/
MINOR_VERSION=3.11
## Please note: this script will reinstall python every time it runs!

# ensure deps for compiling python
# see https://devguide.python.org/getting-started/setup-building/index.html#install-dependencies
{{- if (or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") (eq .osid "linux-pop")) }}
sudo apt update > /dev/null
sudo apt-get install build-essential gdb lcov pkg-config \
      libbz2-dev libffi-dev libgdbm-dev libgdbm-compat-dev liblzma-dev \
      libncurses5-dev libreadline6-dev libsqlite3-dev libssl-dev \
      lzma lzma-dev tk-dev uuid-dev zlib1g-dev -y > /dev/null
{{ else }}
echo "Unknown OS to install python dependencies"
{{- end }}

# remove old python installation
if [ -d "{{ .bindir }}/python" ]; then
  rm -rf {{ .bindir }}/python
fi

# Get source code
curl -sSL -o /tmp/python-"$VERSION".tgz https://www.python.org/ftp/python/$VERSION/Python-"$VERSION".tgz 
tar -C {{ .bindir }} -xzf /tmp/python-"$VERSION".tgz > /dev/null
mv {{ .bindir }}/Python-$VERSION {{ .bindir }}/python
rm /tmp/python-"$VERSION".tgz 

# compile python locally
cd {{ .bindir }}/python
./configure --enable-optimizations --prefix={{ .bindir }}/python > /dev/null
make -C {{ .bindir }}/python > /dev/null
make -C {{ .bindir}}/python altinstall > /dev/null

# finalize installation
cd {{ .bindir }}/python/bin
ln -s python"$MINOR_VERSION" python
ln -s python"$MINOR_VERSION" python3
ln -s pip"$MINOR_VERSION" pip
ln -s pip"$MINOR_VERSION" pip3

{{ end -}}
