#!/bin/sh

if ! bw status |grep -q "unlocked"; then
  echo "always unlock before syncing!"
  echo "otherwise you are logged out"
  exit 1
fi

# always sync bitwarden before executing
{{ .bindir }}/bw sync
