#!/bin/sh

VERSION=v0.2.0 # see https://github.com/bluebrown/go-template-cli/releases
ARCH={{ .chezmoi.arch }}
OS={{ .chezmoi.os }}


curl -sSL -o /tmp/tpl-$OS-$ARCH https://github.com/bluebrown/go-template-cli/releases/download/$VERSION/tpl-$OS-$ARCH 
sudo install -m 555 /tmp/tpl-$OS-$ARCH /usr/local/bin/tpl
rm /tmp/tpl-$OS-$ARCH

