{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh
{{ range .packages.darwin.taps -}}
brew tap {{ . | quote }}
{{ end -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/zsh
{{ range .packages.linux.taps -}}
brew tap {{ . | quote }}
{{ end -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
# https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/