#!/bin/sh

# only import configs if in a gnome-shell
if type "gnome-shell" > /dev/null; then
  # Export current config
  # dconf dump / 
  # Import current configs
  dconf load / < {{ .chezmoi.workingTree }}/dconf.conf 
fi
