#!/bin/sh

{{ if not .is_termux -}}

VERSION=v0.9.5

git config --global advice.detachedHead false
git clone --quiet https://github.com/ahmetb/kubectx.git --single-branch --branch $VERSION /tmp/kubectx 
git config --global advice.detachedHead true

# install scripts
install  -m 0555 /tmp/kubectx/kubectx {{ .bindir }}/kubectx
install  -m 0555 /tmp/kubectx/kubens {{ .bindir }}/kubens

# install completions
if [ ! -d $HOME/.oh-my-zsh/cache/completions ]
then
  mkdir -p $HOME/.oh-my-zsh/cache/completions
  chmod 755 $HOME/.oh-my-zsh/cache/completions
fi
cp /tmp/kubectx/completion/_kubectx.zsh $HOME/.oh-my-zsh/cache/completions/_kubectx.zsh
cp /tmp/kubectx/completion/_kubens.zsh $HOME/.oh-my-zsh/cache/completions/_kubens.zsh

rm -rf /tmp/kubectx

{{ end -}}