#!/bin/sh

{{ if not .is_termux -}}

{{- if (or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") (eq .osid "linux-pop")) }}

sudo mkdir -p /etc/apt/keyrings > /dev/null
curl -sLS https://packages.microsoft.com/keys/microsoft.asc |
    gpg --dearmor |
    sudo tee /etc/apt/keyrings/microsoft.gpg > /dev/null
sudo chmod go+r /etc/apt/keyrings/microsoft.gpg > /dev/null
AZ_REPO=$(lsb_release -cs)
echo "deb [arch=`dpkg --print-architecture` signed-by=/etc/apt/keyrings/microsoft.gpg] https://packages.microsoft.com/repos/azure-cli/ $AZ_REPO main" |
    sudo tee /etc/apt/sources.list.d/azure-cli.list >/dev/null
sudo apt-get update >/dev/null
sudo apt-get install azure-cli  >/dev/null

{{- else if eq .osid "linux-amzn" }}
echo "Azure CLI probably not needed on AWS ;)"
{{ else }}
echo "Unknown OS to install Azure CLI"
{{- end}}

{{ end -}}