#!/usr/bin/zsh
# https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/
# packages are installed only once, upgrading is the responsibility of the package manager
# we don't upgrade packages nor homebrew here, this is something the user has to do with homebrew directly
export HOMEBREW_NO_AUTO_UPDATE=1

{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.darwin.taps -}}
brew tap {{ . | quote }}
{{ end -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/zsh
{{ range .packages.linux.taps -}}
brew tap {{ . | quote }}
{{ end -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF

unset HOMEBREW_NO_AUTO_UPDATE

sudo apt update
sudo apt install -y {{ range .packages }}{{ . }} {{ end }}
{{ end -}}
