#!/bin/sh

{{ if not .is_termux -}}

VERSION=v0.2.0 # see https://github.com/bluebrown/go-template-cli/releases
ARCH={{ .chezmoi.arch }}
OS={{ .chezmoi.os }}


# Note: currently doesn't support ARM64
curl -sSL -o /tmp/tpl-$OS-$ARCH https://github.com/bluebrown/go-template-cli/releases/download/$VERSION/tpl-$OS-$ARCH 
install -m 555 /tmp/tpl-$OS-$ARCH {{ .bindir }}/tpl
rm /tmp/tpl-$OS-$ARCH

{{ end -}}