#!/bin/sh

VERSION=v4.35.2 # see https://github.com/mikefarah/yq/releases
JQ_VERSION=1.7.1 # see https://github.com/jqlang/jq/releases/tag/jq-1.7.1
ARCH={{ .chezmoi.arch }}
OS={{ .chezmoi.os }}

curl -sSL -o /tmp/yq-$OS-$ARCH https://github.com/mikefarah/yq/releases/download/$VERSION/yq_"$OS"_"$ARCH"
install -m 555 /tmp/yq-$OS-$ARCH {{ .bindir }}/yq
rm /tmp/yq-$OS-$ARCH

curl -fsSL -o /tmp/jq-$OS-$ARCH https://github.com/jqlang/jq/releases/download/jq-$JQ_VERSION/jq-linux-amd64
install -m 555 /tmp/jq-$OS-$ARCH {{ .bindir }}/jq
rm /tmp/jq-$OS-$ARCH