#!/bin/sh

{{- if .is_desktop }}

# OS Selector
{{- if (or (eq .osid "linux-ubuntu") (eq .osid "linux-pop")) }}

  # Install kDrive
  curl -fsSL -o {{ .bindir }}/kdrive.AppImage https://download.storage.infomaniak.com/drive/desktopclient/kDrive-3.5.8.20240227-amd64.AppImage
  chmod +x {{ .bindir }}/kdrive.AppImage

{{- end }}

{{- end }}
