{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

# taken from https://github.com/abiosoft/colima/blob/main/docs/FAQ.md#docker-buildx-plugin-is-missing
mkdir -p ~/.docker/cli-plugins
ln -sfn $(which docker-buildx) ~/.docker/cli-plugins/docker-buildx
{{ end -}}
