#!/bin/sh

checkDeps() {
  unzipPath=$(which unzip)
  if [ "$unzipPath" = "" ]
  then
    DEBIAN_FRONTEND=noninteractive sudo apt install unzip -y > /dev/null
  fi
}

loadInstaller() {
  curl -sL -o /tmp/install-az.sh https://aka.ms/InstallAzureCLIDeb
	chmod +x /tmp/install-az.sh
}

cleanupInstallation() {
	rm /tmp/install-az.sh
}

# If it's not already installed, install it
if ! type "az" > /dev/null; then
  checkDeps
  loadInstaller
  /tmp/install-az.sh
  cleanupInstallation
else
  checkDeps
  # If it's already installed, check if we should update it
	binaryPath=$(which az)
	if [ $(date +%s -r $binaryPath) -lt $(date +%s --date="30 days ago") ]
	then
		echo "Azure cli wasn't updated for 30 days, doing update..."
    loadInstaller
		/tmp/install-az.sh
    cleanupInstallation
  fi
fi
