#!/bin/sh

# Peridocically run this script every 30 days to updates tools 
if [ $(date +%s -r /etc/last-chezmoi-update) -lt $(date +%s --date="30 days ago") ]
then
echo "Installing apt toolchain, either first time or after 30 days of pause"

# OS Selector
{{- if (or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") (eq .osid "linux-pop")) }}

## GPG keys
curl -fsSL "https://keyserver.ubuntu.com/pks/lookup?op=get&options=mr&search=0xCB2DE8E5" | gpg --import - > /dev/null
curl -sS https://download.spotify.com/debian/pubkey_7A3A762FAFD4A51F.gpg | sudo gpg --dearmor --yes -o /etc/apt/trusted.gpg.d/spotify.gpg > /dev/null
curl -fsSL https://updates.signal.org/desktop/apt/keys.asc | sudo gpg --dearmor --yes -o /usr/share/keyrings/signal-desktop-keyring.gpg

## APT repos
echo 'deb [signed-by=/usr/share/keyrings/onlyoffice.gpg] https://download.onlyoffice.com/repo/debian squeeze main' | sudo tee /etc/apt/sources.list.d/onlyoffice.list > /dev/null
echo "deb http://repository.spotify.com stable non-free" | sudo tee /etc/apt/sources.list.d/spotify.list > /dev/null
echo 'deb [arch=amd64 signed-by=/usr/share/keyrings/signal-desktop-keyring.gpg] https://updates.signal.org/desktop/apt xenial main' |\
  sudo tee /etc/apt/sources.list.d/signal-xenial.list > /dev/null

## Update
DEBIAN_FRONTEND=noninteractive sudo apt update > /dev/null

## Install (general)
DEBIAN_FRONTEND=noninteractive sudo apt install tmux vim zsh git gpg gnupg2 lsb-release unzip yamllint jq fzf -y  > /dev/null

## Install (desktop)
{{- if not .is_remote }}
  DEBIAN_FRONTEND=noninteractive sudo apt install gnupg-agent scdaemon pcscd flameshot \
	firefox code onlyoffice-desktopeditors slack-desktop \
  telegram-desktop diodon keepassxc caffeine \
  yubioath-desktop discord nextcloud-desktop \
  audacity spotify-client handbrake kitty signal-desktop \
  gdebi \
  -y > /dev/null

  curl -sSL -o /tmp/dropbox.deb https://www.dropbox.com/download?dl=packages/ubuntu/dropbox_2022.12.05_amd64.deb >/dev/null
  sudo gdebi /tmp/dropbox.deb > /dev/null
  sudo rm -rf /tmp/dropbox.deb 

  curl -fsSL -o /tmp/threema.deb https://releases.threema.ch/web-electron/v1/release/Threema-Latest.deb >/dev/null
  sudo gdebi /tmp/threema.deb > /dev/null
  sudo rm -rf /tmp/threema.deb
{{- end }}

{{- else if eq .osid "linux-amzn" }}

sudo yum update > /dev/null
sudo yum install -y zsh jq tmux vim git gpg gnupg2 unzip fzf > /dev/null

{{ else }}

echo "Unknown OS to install tools"

{{- end }}
 
sudo touch -m /etc/last-chezmoi-update # at the end mark the script as beeing run
fi
