#!/bin/sh

VERSION=v2.14.2 # see https://github.com/telepresenceio/telepresence/releases
ARCH={{ .chezmoi.arch }}
OS={{ .chezmoi.os }}

curl -sSL -o /tmp/telepresence-$OS-$ARCH https://github.com/telepresenceio/telepresence/releases/download/$VERSION/telepresence-$OS-$ARCH
sudo install -m 555 /tmp/telepresence-$OS-$ARCH /usr/local/bin/telepresence
rm /tmp/telepresence-$OS-$ARCH

