#!/bin/sh

{{ if not .is_termux -}}

{{- if (or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") (eq .osid "linux-pop")) }}

sudo apt install python3 python3-pip

{{ else }}

echo "Unknown OS to install python"

{{- end }}

{{ end -}}