#!/bin/sh
# installs kitty as terminal emulator
# and Fira Code as font for the terminal

{{- if .is_desktop }}

  # Fonts
	curl -fsSL -o /tmp/firacode.zip https://github.com/ryanoasis/nerd-fonts/releases/download/v3.2.1/FiraCode.zip
	unzip -qq /tmp/firacode.zip -d /tmp

  # Terminal Emulator
  curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin

	{{- if (or (eq .osid "linux-ubuntu") (eq .osid "linux-pop")) }}

  # Install font
  mkdir -p ~/.local/share/fonts/fira-code
	mv /tmp/*.ttf ~/.local/share/fonts/fira-code
	sudo fc-cache -f -v
	rm -rf /tmp/firacode.zip

  # Set default terminal-emulator
  kitty=$(which kitty)
  sudo update-alternatives --install /usr/bin/x-terminal-emulator x-terminal-emulator $kitty 1
  sudo update-alternatives --set x-terminal-emulator $kitty

	{{- elif (eq .os "darwin") }}

  # Install font
  mkdir -p ~/Library/Fonts
  mv /tmp/*.ttf ~/Library/Fonts/
	rm -rf /tmp/firacode.zip

  # Set default terminal emulator is not supported on macOS

	{{- end }}

{{- end }} 
