#!/bin/sh

{{ if not .is_termux -}}

{{ if stdinIsATTY -}}
shell=$(getent passwd {{ .username }} | awk -F : '{print $NF}')
if [ $shell != $(which zsh) ]
then
chsh -s $(which zsh) {{ .username }}
fi
{{ end -}}

{{ end -}}
