#!/bin/sh


{{ if not .is_termux -}}

ARCH={{ .chezmoi.arch }}
OS={{ .chezmoi.os }}
binaryPath="/usr/local/bin/akeyless"

inPlaceUpdate() {
	curl -sSL -o /tmp/akeyless-$OS-$ARCH https://akeyless-cli.s3.us-east-2.amazonaws.com/cli/latest/production/cli-$OS-$ARCH > /dev/null
	sudo install -o root -g root -m 0555 /tmp/akeyless-$OS-$ARCH $binaryPath >/dev/null
	sudo rm /tmp/akeyless-$OS-$ARCH > /dev/null
}

if ! type "akeyless" > /dev/null; then
  inPlaceUpdate
fi

if [ $(date +%s -r $binaryPath) -lt $(date +%s --date="30 days ago") ]; then
	echo "akeyless cli wasn't updated for 30 days, doing update..."
  inPlaceUpdate
fi

{{ end -}}

