#!/bin/sh

{{- if .is_desktop }}

curl -fsSL -o /tmp/firacode.zip https://github.com/ryanoasis/nerd-fonts/releases/download/v3.1.1/FiraCode.zip
unzip -qq /tmp/firacode.zip -d /tmp
mkdir -p ~/.local/share/fonts/fira-code
mv /tmp/*.ttf ~/.local/share/fonts/fira-code
sudo fc-cache -f -v
rm -rf /tmp/firacode.zip

{{- end }}