#!/bin/sh
# installs kitty as terminal emulator

{{- if .is_desktop }}

	curl -fsSL -o /tmp/firacode.zip https://github.com/ryanoasis/nerd-fonts/releases/download/v3.1.1/FiraCode.zip
	unzip -qq /tmp/firacode.zip -d /tmp
	mkdir -p ~/.local/share/fonts/fira-code
	mv /tmp/*.ttf ~/.local/share/fonts/fira-code
	sudo fc-cache -f -v
	rm -rf /tmp/firacode.zip

	{{- if (or (eq .osid "linux-ubuntu") (eq .osid "linux-pop")) }}

  DEBIAN_FRONTEND=noninteractive sudo apt update 
  DEBIAN_FRONTEND=noninteractive sudo apt install kitty -y

  # Set default terminal for gnome-shell
  kitty=$(which kitty)
  sudo update-alternatives --install /usr/bin/x-terminal-emulator x-terminal-emulator $kitty 1
  sudo update-alternatives --set x-terminal-emulator $kitty

	{{- end }}

{{- end }} 
