[user]
	email = technat@technat.ch
	name = Nathanael Liechti
	signingkey = 22391B207DAD6969
[commit]
	gpgsign = true
[pull]
	rebase = true
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
