{{ if not .is_termux -}}
.bashrc
.config/k9s/config.yml
{{ end -}}
{{ if .is_termux -}}
.aws/
.oh-my-zsh/
.omz-custom/
.gnupg/
.config/
.local/
{{ end -}}
install.sh
README.md
dconf-pop.conf
.oh-my-zsh/cache
.oh-my-zsh/cache/**
.oh-my-zsh/**/*.zwc
{{ if not .use_yubikey }}
.gnupg/gpg.conf
.ssh/id_yubikey
{{- end }}

