# Defaults
{{ $email := "technat@technat.ch" -}}
{{ $name := "Nathanael Liechti" -}}
{{ $username := "technat" -}}
{{ $is_remote := true -}} 
{{ $is_termux := false -}}

# try to fetch the username from LOGNAME or USER
{{ if not (eq (env "USER") "") -}}
{{ $username = env "USER" -}}
{{ else if not (eq (env "LOGNAME") "") -}}
{{ $username = env "LOGNAME" -}}
{{ end -}}

# If we are running in a codespace, the username is always codespace
{{ if env "CODESPACES" | not | not -}}
{{   $username = "codespace" -}}
{{ end -}}

# On termux we skip most of the files and folders
{{ if not (eq (env "TERMUX_VERSION") "") -}}
{{ $is_termux = true -}}
{{ $is_remote = true -}}
{{ end -}}

# If TTY we can ask for overrides
{{ if stdinIsATTY -}}
{{   $email = promptStringOnce . "email" "Your email address" $email -}}
{{   $name = promptStringOnce . "name" "Your name (git name)" $name -}}
{{   $username = promptStringOnce . "username" "Your username" $username -}}
{{   $is_remote = promptBoolOnce . "is_remote" "Remote machine?" $is_remote -}}
{{ end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}
[data]
  osid = {{ $osid | quote }}
  email = {{ $email | quote }}
  username = {{ $username | quote }}
  name = {{ $name | quote }}
  is_remote = {{ $is_remote }}
  is_termux = {{ $is_termux }}
  bindir = /home/{{ .username }}/.local/bin

[git]
  autoCommit = true
  autoPush = true
