# Defaults
{{ $email := "technat@technat.ch" -}}
{{ $name := "Nathanael Liechti" -}}
{{ $username := "technat" -}}
{{ $is_desktop := false -}} 

# try to fetch the username from LOGNAME or USER
{{ if not (eq (env "USER") "") -}}
{{ $username = env "USER" -}}
{{ else if not (eq (env "LOGNAME") "") -}}
{{ $username = env "LOGNAME" -}}
{{ end -}}

# If TTY we can ask for overrides
{{ if stdinIsATTY -}}
{{   $email = promptStringOnce . "email" "Your email address" $email -}}
{{   $name = promptStringOnce . "name" "Your name (git name)" $name -}}
{{   $username = promptStringOnce . "username" "Your username" $username -}}
{{   $is_desktop = promptBoolOnce . "is_desktop" "Desktop machine?" $is_desktop -}}
{{ end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}
[data]
  osid = {{ $osid | quote }}
  email = {{ $email | quote }}
  username = {{ $username | quote }}
  name = {{ $name | quote }}
  is_desktop = {{ $is_desktop }}
  bindir = "/home/{{ $username }}/.local/bin"

[git]
  autoCommit = true
  autoPush = true

[hooks.read-source-state.pre]
  command = "/home/{{ $username }}/.local/share/chezmoi/.install-bw.sh"
