[user]
  email = {{ .email }}
  name = {{ .name }}
[pull]
  rebase = true
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true

{{- if eq .chezmoi.os "darwin" }}
[credential]
  helper = "osxkeychain"
[credential "https://github.com"]
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/local/bin/gh auth git-credential
{{- end }}

{{- if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
{{- end }}
