{{ if eq .osid "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
SSH_AUTH_SOCK="$HOME/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh"
{{ end }}
AWS_PAGER=/usr/bin/less
DEFAULT_USER="technat"
BAT_THEME="Solarized (dark)"
EDITOR=vim