[user]
	email = {{ .email }}
	name = {{ .name }}
  signingkey = ~/.ssh/id_gh
[pull]
	rebase = true
[init]
  defaultBranch = develop
[gpg]
  format = ssh
[commit]
  gpgSign = true
[credential]
  helper = "osxkeychain"