[user]
	email = {{ .email }}
	name = {{ .name }}
  {{- if eq .chezmoi.os "darwin" }}
  signingkey = /home/{{ .username }}/.ssh/id_gh
  {{- end }}
[pull]
	rebase = true
[init]
  defaultBranch = develop
{{- if eq .chezmoi.os "darwin" }}
[gpg]
  format = ssh
[commit]
  gpgSign = true
{{- end }}