#!/bin/sh
# Installs a bunch of tools

{{- if (or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") (eq .osid "linux-pop")) }}

###### APT Packages
export DEBIAN_FRONTEND=noninteractive 
sudo apt update > /dev/null
sudo apt install tmux vim zsh git gpg gnupg2 gnupg-agent scdaemon pcscd -y  > /dev/null

###### Argo CLI
curl -sSL -o argocd-linux-amd64 https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64 > /dev/null
sudo install -m 555 argocd-linux-amd64 /usr/local/bin/argocd > /dev/null
rm argocd-linux-amd64 > /dev/null

###### K3d
curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash > /dev/null

{{ else }}
  echo "dotfiles currently only work on debian-based systems"
{{- end }}
