{{/* machine types */}}
{{- $ephemeral := true -}}{{/* true if this machine is ephemeral, e.g. a devcontainer, cloud or VM instance */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}

{{/* detect machine type automatically */}}
{{- if and (eq .chezmoi.username "technat") (eq .chezmoi.os "darwin") -}}
{{-   $personal = true -}}
{{- end -}}
{{- if eq .chezmoi.username "liechtinat" -}}
{{-  $work = true -}}
{{- end -}}

{{/* generate osid key from OS and release version */}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* save user's shell for later use */}}
{{- $shell := env "SHELL" -}}

{{/* save shebang for later use */}}
{{- $shebang := "/bin/zsh" -}}
{{- if eq .chezmoi.os "linux" -}}
{{- $shebang = "/usr/bin/zsh" -}}
{{- end -}}

{{- $name := "Nathanael Liechti" -}}
{{- $email := "technat@technat.ch" -}}
{{- if $work -}}
{{-   $email = "nathanael.liechti@post.ch" -}}
{{- end -}}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  osid = {{ $osid | quote }}
  shell = {{ $shell | quote }}
  personal = {{ $personal }}
  work = {{ $work }}
  ephemeral = {{ $ephemeral }}
  tty = {{ stdinIsATTY }}
  shebang = {{ $shebang }}

{{/* the following deps must exist before we start bootstraping */}}
[hooks.read-source-state.pre]
  command = "{{ .chezmoi.sourceDir }}/ensure-deps.sh"