README.md
install.sh
.vscode-oss

.oh-my-zsh/cache
.oh-my-zsh/cache/**
.oh-my-zsh/**/*.zwc

settings.json
tmux-launch.sh

{{ if eq .chezmoi.os "darwin" -}}
.config/ghostty/
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
Library/
{{ end -}}

{{ if .devcontainer -}}
.gitconfig
{{ end -}}
