{{/* detect devcontainer-based solutions */}}
{{- $devcontainer := false -}}
{{- if and (eq (env "DEVPOD") "true") (eq .chezmoi.os "linux") -}}
{{-   $devcontainer = true -}}
{{- end -}}
{{- if and (eq (env "CODESPACES") "true") (eq .chezmoi.os "linux") -}}
{{-   $devcontainer = true -}}
{{- end -}}
{{- if and (eq (env "REMOTE_CONTAINERS") "true") (eq .chezmoi.os "linux") -}}
{{-   $devcontainer = true -}}
{{- end -}}

{{/* generate osid key from OS and release version */}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* save user's shell for later use */}}
{{- $shell := env "SHELL" -}}

{{- $name := "Nathanael Liechti" -}}
{{- $email := "technat@technat.ch" -}}
{{- if eq .chezmoi.username "liechtinat" -}}
{{-   $email = "nathanael.liechti@post.ch" -}}
{{- end -}}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  osid = {{ $osid | quote }}
  shell = {{ $shell | quote }}
  tty = {{ stdinIsATTY }}
  devcontainer = {{ $devcontainer }}