export ZSH="$HOME/.oh-my-zsh"
ZSH_CUSTOM=~/.omz_custom
COMPLETION_WAITING_DOTS="true" # I like this

{{ if .devcontainer -}}

ZSH_THEME="random"
plugins=(git fzf sudo helm kubectl cp extract terraform aws docker sdk)

{{ end }}
{{ if eq .chezmoi.os "darwin" -}}

ZSH_THEME="agnoster"
plugins=(git fzf sudo helm kubectl cp extract terraform aws docker sdk)

{{ end -}}
{{ if and (eq .chezmoi.os "linux") (not .devcontainer) -}}

ZSH_THEME="robbyrussell"
plugins=(ssh-agent git fzf sudo helm kubectl cp extract terraform aws docker sdk)

{{ end -}}

# https://docs.brew.sh/Shell-Completion#configuring-completions-in-zsh
source $ZSH/oh-my-zsh.sh
