NVM_DIR="$HOME/.nvm"
DEFAULT_USER={{ .chezmoi.username }}
AWS_PAGER=/usr/bin/less
AWS_DEFAULT_OUTPUT=table
DEFAULT_USER="{{ .chezmoi.username }}"
EDITOR=nvim
GIT_EDITOR=nvim
KUBE_EDITOR=nvim
{{ if eq .chezmoi.os "darwin" -}}
SSH_AUTH_SOCK="$HOME/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh"
{{ end -}}
