{{ if eq .chezmoi.os "darwin" -}}
{{   if contains "arm" (output "uname" "-p" | trim) -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else -}}
eval "$(/usr/local/bin/brew shellenv)"
{{   end -}}
SSH_AUTH_SOCK="$HOME/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh"
PATH="/Users/{{ .chezmoi.username }}/go/bin:/Users/{{ .chezmoi.username }}/.local/bin:$PATH"
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
PATH="/home/{{ .chezmoi.username }}/go/bin:/home/{{ .chezmoi.username }}/.local/bin:$PATH"
{{ end -}}

AWS_PAGER=/usr/bin/less
AWS_DEFAULT_OUTPUT=table
DEFAULT_USER="{{ .chezmoi.username }}"
EDITOR=nvim
GIT_EDITOR=nvim
KUBE_EDITOR=nvim
