[user]
  email = nathanael.liechti@post.ch
  name = Nathanael Liechti
  {{- if eq .osid "darwin" }}
  signingkey = ~/.ssh/ssh_signing_ghe.pub # symlink to the actual secretive pub key (done manually)
  {{- end }}
  {{- if eq .chezmoi.os "linux" }}
  signingkey = ~/.ssh/id_ed25519
  {{- end }}
[credential "https://github.com"]
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper = !gh auth git-credential
