{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
eval "$(/Users/{{ .chezmoi.username }}/.local/bin/mise activate zsh)"
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
eval "$(/home/{{ .chezmoi.username }}/.local/bin/mise activate zsh)"
{{ end -}}