{{ if eq .osid "darwin" -}}
cpu: 4
disk: 100
memory: 8
arch: aarch64
runtime: docker
hostname: colima
autoActivate: true
vmType: vz
network:
  address: true
rosetta: false
nestedVirtualization: false
mountType: virtiofs
mountInotify: true
sshConfig: false
{{ end -}}