AddKeysToAgent  yes
IdentitiesOnly yes
{{ if eq .chezmoi.os "darwin" -}}
UseKeychain yes
{{ end }}

Host github.com 
  User git
  Port 22
  IdentityFile ~/.ssh/id_gh

Host i-* mi-*
  ProxyCommand sh -c "aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"
  User ec2-user
  ServerAliveInterval 120

Host *
  User technat
