{{- if eq .chezmoi.os "linux" }}
# on linux we don't have secretive
AddKeysToAgent  yes
IdentitiesOnly yes
{{- end }}

Host banana
  HostName banana
  ForwardAgent yes

Host i-* mi-*
  ProxyCommand sh -c "aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"
  User ec2-user
  ServerAliveInterval 120

Host github.com 
  User git
  Port 22

{{- if eq .chezmoi.os "darwin" }}
# secretive is managing my keys
Host *
	IdentityAgent /Users/technat/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh

# colima ssh config for seamless ssh into the colima machines
Include /Users/technat/.colima/ssh_config
{{- end }}
