#!/usr/bin/env zsh
# requires unzip installed via system packages
# installs the CLI into {{ .bindir }}/aws-cli and assume it's bin directory is added to PATH

installCLI() {
  # grab cli
  {{ if eq .chezmoi.os "darwin" -}}
    curl -sSL "{{ .installer_tools.aws_cli.darwin.generic.url }}" -o "/tmp/awscliv2.pkg"
  {{ else -}}
    {{ if eq .chezmoi.arch "amd64" -}}
      curl -sSL "{{ .installer_tools.aws_cli.linux.amd64.url }}" -o "/tmp/awscliv2.zip"
    {{ else -}}
      curl -sSL "{{ .installer_tools.aws_cli.linux.arm64.url }}" -o "/tmp/awscliv2.zip"
    {{ end -}}
    unzip -qq /tmp/awscliv2.zip -d /tmp
  {{ end -}}


  # install
  {{ if eq .chezmoi.os "darwin" -}}
    cat <<EOF > /tmp/aws-choices.xml
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>choiceAttribute</key>
      <string>customLocation</string>
      <key>attributeSetting</key>
      <string>{{ .bindir }}</string>
      <key>choiceIdentifier</key>
      <string>default</string>
    </dict>
  </array>
</plist>
EOF
    installer -pkg /tmp/awscliv2.pkg \
              -target CurrentUserHomeDirectory \
              -applyChoiceChangesXML /tmp/aws-choices.xml 
  {{ else -}}
    /tmp/aws/install --bin-dir {{ .bindir }} --install-dir {{ .bindir }}/aws-cli
  {{ end -}}

  #  cleanup
  {{ if eq .chezmoi.os "darwin" -}}
    rm /tmp/awscliv2.pkg
    rm /tmp/aws-choices.xml
  {{ else -}}
    rm /tmp/awscliv2.zip
    rm -rf /tmp/aws
  {{ end -}}
}

# If it's not already installed, install it
if ! type "aws" > /dev/null; then
  installCLI
else
  # If it's already installed, check if we should update it
  binaryPath=$(which aws)
  if [ $(date +%s -r $binaryPath) -lt $(date +%s --date="30 days ago") ]
  then
    echo "AWS cli wasn't updated for 30 days, doing update..."
    installCLI
  fi
fi
