#!{{ .shebang }}

if ! command -v "chsh" > /dev/null; then
  shell=$(getent passwd {{ .chezmoi.username }} | awk -F : '{print $NF}')
  if [ ${shell} != *"zsh"* ]; then
    if ! command -v "sudo" > /dev/null; then
      # changing shell can be done using sudo (password-less)
      sudo chsh -s $(command -v zsh) {{ .chezmoi.username }}
    else
      # changing shell requires your password if no sudo is available
      chsh -s $(command -v zsh) {{ .chezmoi.username }}
    fi
  fi
fi