{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh
# https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/
# every time this runs it ensures declared packages & homebrew itself are installed and up-to-date
# updates can also be done manually using `brew update & brew upgrade`

# install homebrew initially if not already done
if ! command -v "/opt/homebrew/bin/brew" > /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"  > /dev/null
fi

eval "$(/opt/homebrew/bin/brew shellenv)"

{{ range .homebrew.taps -}}
brew tap {{ . | quote }}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range .homebrew.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .homebrew.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ end -}}