#!/usr/bin/env zsh
# note for macos: homebrew installs awscli
# requires unzip installed via system packages
# installs the CLI into {{ .bindir }}/aws-cli and symlinks binaries back one level up


{{ if ne .chezmoi.os "darwin" -}}

installCLI() {
  # grab cli
  {{ if eq .chezmoi.arch "amd64" -}}
    curl -sSL "{{ .installer_tools.aws_cli.linux.amd64.url }}" -o "/tmp/awscliv2.zip"
  {{ else -}}
    curl -sSL "{{ .installer_tools.aws_cli.linux.arm64.url }}" -o "/tmp/awscliv2.zip"
  {{ end -}}
  unzip -qq /tmp/awscliv2.zip -d /tmp


  # install
  /tmp/aws/install --bin-dir {{ .bindir }} --install-dir {{ .bindir }}/aws-cli

  #  cleanup
  rm /tmp/awscliv2.zip
  rm -rf /tmp/aws
}

# If it's not already installed, install it
if ! type "aws" > /dev/null; then
  installCLI
else
  # If it's already installed, check if we should update it
  binaryPath=$(which aws)
  if [ $(date +%s -r $binaryPath) -lt $(date +%s --date="30 days ago") ]
  then
    echo "AWS cli wasn't updated for 30 days, doing update..."
    installCLI
  fi
fi

{{ end -}}
