#!/usr/bin/env zsh

export MISE_INSTALL_PATH={{ .chezmoi.homeDir }}/.local/bin/mise
if ! command -v "$MISE_INSTALL_PATH" > /dev/null; then
   curl https://mise.run | sh 
fi

eval "$($MISE_INSTALL_PATH activate zsh)"

{{ range .mise.tools -}}
mise use -g {{ . | quote }}
{{ end -}}