{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env zsh
# for code-server (linux only)

# if code-server is installed we install our extensions to it
if command -v "code-server" > /dev/null; then
  {{ range .code_server_extensions -}}
  code-server --install-extension {{ . | quote }}
  {{ end -}}
fi
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh
# for vscode (darwin only)

if command -v "code" > /dev/null; then
  {{ range .vscode_extensions -}}
  code --install-extension {{ . | quote }}
  {{ end -}}
fi
{{ end -}}