#!/bin/sh
{{ if eq .chezmoi.os "darwin" -}}
sudo softwareupdate --install-rosetta --agree-to-license
xcode-select -p 1>/dev/null
if [[ $? -ne 0 ]]; then
xcode-select --install
fi
{{ end -}}

{{ if or (eq .osid "linux-ubuntu") (eq .osid "linux-debian") (eq .osid "linux-pop") (eq .osid "linux-kali") -}}
export DEBIAN_FRONTEND=noninteractive
if command -v "sudo" > /dev/null; then
   sudo apt update
   sudo apt install -qq -y {{ range .apt }}{{ . }} {{ end }}
else
   apt update 
   apt install -qq -y {{ range .apt}}{{.}} {{ end }}
fi
{{ end -}}

{{ if or (eq .osid "linux-rocky") (eq .osid "linux-fedora") (eq .osid "linux-amzn") -}}
if command -v "sudo" > /dev/null; then
   sudo dnf update
   sudo dnf install -q --assumeyes {{ range .dnf }}{{ . }} {{ end }}
else
   dnf update 
   dnf install -q --assumeyes {{ range .dnf}}{{.}} {{ end }}
fi
{{ end -}}

{{ if eq .osid "linux-alpine" -}}
if command -v "sudo" > /dev/null; then
   sudo apk update
   sudo apk add {{ range .apk }}{{ . }} {{ end }}
else
   apk update
   apk add {{ range .apk }}{{ . }} {{ end }}
fi
{{ end -}}

{{ if eq .osid "linux-azurelinux" -}}
if command -v "sudo" > /dev/null; then
   sudo tdnf makecache
   sudo tdnf install -y {{ range .tdnf }}{{ . }} {{ end }}
else
  tdnf makecache
  tdnf install -y {{ range .tdnf }}{{ . }} {{ end }} 
fi
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
# https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/
# every time this runs it ensures declared packages & homebrew itself are installed and up-to-date
# /opt/homebrew/bin/brew can be hardcoded since homebrew itself states that statically linked stuff in their ecossystem depends on this prefix
# updates can also be done manually using `brew update & brew upgrade`

# install homebrew initially if not already done
if ! command -v "/opt/homebrew/bin/brew" > /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" 
fi

eval "$(/opt/homebrew/bin/brew shellenv)"

{{ range .homebrew.taps -}}
brew tap {{ . | quote }}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range .homebrew.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .homebrew.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ end -}}