{{ if and (eq .chezmoi.os "linux") (not .devcontainer)  -}}
#!/usr/bin/env zsh

if command -v "code-server" > /dev/null; then
  curl -fsSL https://code-server.dev/install.sh | sh
  sudo systemctl enable --now code-server@{{ .chezmoi.username }}
  {{ range .code_extensions -}}
  code-server --install-extension {{ . | quote }}
  {{ end -}}
fi
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh
# for vscode (darwin only)

if command -v "codium" > /dev/null; then
  {{ range .code_extensions -}}
  codium --install-extension {{ . | quote }}
  {{ end -}}
fi
{{ end -}}
