#!/bin/sh

{{/* Install macOS Development Tools if not installed */}}
{{ if eq .chezmoi.os "darwin" -}}
xcode-select -p 1>/dev/null
if [[ $? -ne 0 ]]; then
xcode-select --install
fi
{{ end -}}

{{/* Loop over system packages list and install with apt  */}}
{{ if or (eq .osid "linux-ubuntu") (eq .osid "linux-debian") (eq .osid "linux-pop") (eq .osid "linux-kali") -}}
  export DEBIAN_FRONTEND=noninteractive

  {{ if eq .chezmoi.arch "arm64" -}}
     {{ range .apt_remote.arm64 }}
       curl {{ . }} -o /tmp/tmp.deb
       if command -v "sudo" > /dev/null; then
         sudo dpkg -i /tmp/tmp.deb
       else
         dpkg -i /tmp/tmp.deb
       fi
       rm /tmp/tmp.deb
     {{ end }}
  {{ end -}}
  {{ if eq .chezmoi.arch "x86_64" -}}
     {{ range .apt_remote.x86_64 }}
       curl {{ . }} -o /tmp/tmp.deb
       if command -v "sudo" > /dev/null; then
         sudo dpkg -i /tmp/tmp.deb
       else
         dpkg -i /tmp/tmp.deb
       fi
       rm /tmp/tmp.deb
     {{ end }}
  {{ end -}}

  if command -v "sudo" > /dev/null; then
     sudo apt update
     sudo apt install -qq -y {{ range .apt }}{{ . }} {{ end }}
  else
     apt update 
     apt install -qq -y {{ range .apt}}{{.}} {{ end }}
  fi
{{ end -}}

{{/* Loop over system packages list and install with dnf */}}
{{ if or (eq .osid "linux-rocky") (eq .osid "linux-fedora") (eq .osid "linux-amzn") -}}
  {{ if eq .chezmoi.arch "arm64" -}}
     {{ range .dnf_remote.arm64 }}
     if command -v "sudo" > /dev/null; then
       sudo dnf update 
       sudo dnf install -y  {{ . }}
     else
       dnf update
       dnf install -y  {{ . }}
     fi
     {{ end }}
  {{ end -}}
  {{ if eq .chezmoi.arch "x86_64" -}}
     {{ range .dnf_remote.x86_64 }}
     if command -v "sudo" > /dev/null; then
       sudo dnf update
       sudo dnf install -y  {{ . }}
     else
       dnf update
       dnf install -y  {{ . }}
     fi
     {{ end }}
  {{ end -}}

  if command -v "sudo" > /dev/null; then
     sudo dnf update
     sudo dnf install -q --assumeyes {{ range .dnf }}{{ . }} {{ end }}
  else
     dnf update 
     dnf install -q --assumeyes {{ range .dnf}}{{.}} {{ end }}
  fi
{{ end -}}

{{/* Loop over system packages list and install with tdnf */}}
{{ if eq .osid "linux-azurelinux" -}}
  if command -v "sudo" > /dev/null; then
    sudo tdnf makecache
    sudo tdnf install -y {{ range .tdnf }}{{ . }} {{ end }}
  else
    tdnf makecache
    tdnf install -y {{ range .tdnf }}{{ . }} {{ end }} 
  fi
{{ end -}}

{{/* homebrew is installed after all system packages are installed to ensure deps for it are met */}}
{{/* Both absolute homebrew prefixes are hardcoded in many homebrew packages, thus we hardcode them here too */}}
{{ if eq .chezmoi.os "darwin" -}}
  {{ if contains "arm" (output "uname" "-p" | trim) -}}
  # install homebrew initially if not already done 
  if ! command -v "/opt/homebrew/bin/brew" > /dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" 
  fi
  {{ else -}}
  # install homebrew initially if not already done 
  if ! command -v "/usr/local/bin/brew" > /dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" 
  fi
  {{   end -}}
{{ end -}}
{{ if and (eq .chezmoi.os "linux") (not .devcontainer)  -}}
  if ! command -v "/home/linuxbrew/.linuxbrew/bin/brew" > /dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  fi
{{ end -}}

# https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/
# every time this runs it ensures declared packages & homebrew itself are installed and up-to-date
# homebrew prefix can be hardcoded since homebrew itself states that statically linked stuff in their ecossystem depends on this prefix
# updates can also be done manually using `brew update & brew upgrade`
{{/* Loop over system packages list and install with homebrew */}}
{{ if and (eq .chezmoi.os "linux") (not .devcontainer) -}}
export HOMEBREW_NO_ENV_HINTS=1
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew --version

{{ range .homebrew.common.taps -}}
brew trust {{ . | quote }}
{{ end -}}

{{ range .homebrew.linux.taps -}}
brew trust {{ . | quote }}
{{ end -}}

{{ range .homebrew.common.taps -}}
brew tap {{ . | quote }}
{{ end -}}

{{ range .homebrew.linux.taps -}}
brew tap {{ . | quote }}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range .homebrew.common.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .homebrew.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") (not .devcontainer ) -}}
brew bundle --file=/dev/stdin <<EOF
{{ range .homebrew.linux.tier3_brews -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
export HOMEBREW_NO_ENV_HINTS=1
{{  if contains "arm" (output "uname" "-p" | trim) -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{  else  -}}
eval "$(/usr/local/bin/brew shellenv)"
{{  end -}}
brew --version

{{ range .homebrew.common.taps -}}
brew trust {{ . | quote }}
{{ end -}}

{{ range .homebrew.darwin.taps -}}
brew trust {{ . | quote }}
{{ end -}}

{{ range .homebrew.common.taps -}}
brew tap {{ . | quote }}
{{ end -}}

{{ range .homebrew.darwin.taps -}}
brew tap {{ . | quote }}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range .homebrew.common.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .homebrew.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .homebrew.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF

{{ end -}}
