{{ if or (eq .chezmoi.os "darwin") (eq .osid "linux-alpine") -}}
#!/bin/zsh
{{ end -}}
{{ if or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") (eq .osid "linux-rocky") -}}
#!/usr/bin/zsh
{{ end -}}
{{ if eq .osid "linux-fedora" -}}
#!/usr/sbin/zsh
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}} 
export MISE_INSTALL_PATH=/Users/{{ .chezmoi.username }}/.local/bin/mise
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
export MISE_INSTALL_PATH=/home/{{ .chezmoi.username }}/.local/bin/mise
{{ end -}}
if ! command -v "$MISE_INSTALL_PATH" > /dev/null; then
   curl https://mise.run | sh > /dev/null
fi

eval "$($MISE_INSTALL_PATH activate zsh)"

{{ range .mise.tools -}}
mise use {{ . | quote }}
{{ end -}}