#!/usr/bin/env zsh
# https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/
# every time this runs it ensures declared packages & homebrew itself are installed and up-to-date
# homebrew prefix can be hardcoded since homebrew itself states that statically linked stuff in their ecossystem depends on this prefix
# updates can also be done manually using `brew update & brew upgrade`

{{/* Loop over system packages list and install with homebrew */}}
{{ if and (eq .chezmoi.os "linux") (ne .osid "linux-alpine") -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew --version

{{ range .homebrew.linux.taps -}}
brew tap {{ . | quote }}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range .homebrew.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF

{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
brew --version

{{ range .homebrew.darwin.taps -}}
brew tap {{ . | quote }}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range .homebrew.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .homebrew.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ end -}}
