[Desktop Entry]
Name=Bitwarden
GenericName=Password Manager
Exec="{{ .bindir }}/bitwarden.AppImage"
Terminal=false
Icon=bitwarden
Categories=Network
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10