/* =============================================================================
 *
 * Technat's Waybar configuration (https://git.technat.ch)
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 * Configuration base:
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* Solarized Dark */
/*----------------*/
/* General */
/* @define-color background #002b36; */
/* @define-color dark #586e75; */
/* @define-color light #93a1a1; */
/* @define-color warning #cb4b16; */
/* @define-color critical #dc322f; */
/* Modules */
/* @define-color mode #073642; */
/* @define-color workspaces #073642; */
/* @define-color tray #073642; */
/* @define-color sound #2aa198; */
/* @define-color network #073642; */
/* @define-color memory #859900; */
/* @define-color cpu #073642; */
/* @define-color temp #b58900; */
/* @define-color battery #073642; */
/* @define-color date #d33682; */
/* @define-color time #073642; */


/* Solarized Light */
/*-----------------*/
/* General */
@define-color background #fdf6e3;
@define-color dark #657b83;
@define-color light #839496;
@define-color warning #cb4b16;
@define-color critical #dc322f;
/* Modules */
@define-color mode #eee8d5;
@define-color workspaces #eee8d5;
@define-color tray #eee8d5;
@define-color sound #2aa198;
@define-color network #eee8d5;
@define-color memory #859900;
@define-color cpu #eee8d5;
@define-color temp #b58900;
@define-color battery #eee8d5;
@define-color date #d33682;
@define-color time #eee8d5;


/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @warning;
	}
}

@keyframes blink-critical {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @critical;
	}
}

/* -----------------------------------------------------------------------------
 * General styling
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

/* The whole bar */
#waybar {
	background: @background;
	color: @light;
	font-family: Rubik, Terminus, Noto Sans;
	font-size: 10pt;
	font-weight: bold;
}

/* Each module default styling */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#sndio,
#tray {
	padding-left: 10px;
	padding-right: 10px;
}

/* -----------------------------------------------------------------------------
 * Animations
 * -------------------------------------------------------------------------- */

/* Each module that should blink */
#mode,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
	color: @critical;
}

/* Each critical that should blink */
#mode,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
	color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

/* -----------------------------------------------------------------------------
 * Module styling
 * -------------------------------------------------------------------------- */

#mode { /* Shown current Sway mode (resize etc.) */
	color: @dark;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
	padding-left: 5px;
	padding-right: 5px;
	color: @dark;
	background: @workspaces;
}
#workspaces button.focused {
	color: @light;
}

#custom-arrow10 {
	font-size: 16px;
	color: @workspaces;
	background: @background;
}

#window {
	margin-right: 40px;
	margin-left: 40px;
}

#custom-arrow0 {
	font-size: 16px;
	color: @tray;
	background: @background;
}

#tray {
	background: @tray;
}

#custom-arrow1 {
	font-size: 16px;
	color: @sound;
	background: @tray;
}

#pulseaudio {
	background: @sound;
	color: @dark;
}
#pulseaudio.muted {
	/* No styles */
}

#custom-arrow2 {
	font-size: 16px;
	color: @network;
	background: @sound;
}

#network {
	background: @network;
	color: @light;
}

#custom-arrow3 {
	font-size: 16px;
	color: @memory;
	background: @network;
}

#memory {
	background: @memory;
	color: @dark;
}

#custom-arrow4 {
	font-size: 16px;
	color: @cpu;
	background: @memory;
}

#cpu {
	background: @cpu;
	color: @light;
}

#custom-arrow5 {
	font-size: 16px;
	color: @temp;
	background: @cpu;
}

#temperature {
	background: @temp;
	color: @dark;
}

#custom-arrow6 {
	font-size: 16px;
	color: @battery;
	background: @temp;
}

#battery {
	background: @battery;
	color: @light;
}

#custom-arrow7 {
	font-size: 16px;
	color: @date;
	background: @battery;
}

#clock.date {
	background: @date;
	color: @light;
}

#custom-arrow8 {
	font-size: 16px;
	color: @time;
	background: @date;
}

#clock.time {
	background: @time;
	color: @light;
}
