{{- if eq .osid "darwin" }}
alias -g lm="limactl"
alias -g ubuntuVM="orbctl create -a arm64 ubuntu"
alias -g alpineVM="orbctl create -a arm64 alpine"
alias -g rockyVM="orbctl create -a arm64 rocky"
alias -g fedoraVM="orbctl create -a arm64 fedora"
alias disabletmthrottling="sudo sysctl debug.lowpri_throttle_enabled=0"
alias enabletmthrottling="sudo sysctl debug.lowpri_throttle_enabled=1"
alias flushDNS="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
{{- end }}

alias -g cat="bat --style=full --paging=never"
alias -g vim="nvim"
alias -g password="openssl rand -base64 20"
alias -g ll="ls -lahF --hyperlink=auto --color=auto"
alias cdf="cd \$(ls -lh | fzf)"
logina() {
  aws sso login --sso-session $1
}
loginz() {
 az account set --subscription $1
}
geteks() {
  aws eks update-kubeconfig --name $1 --alias $1
} 
getaks() {
  az aks get-credentials --name $1 -g rg-$1
}
temp () {
  DIR=$(mktemp -u)
  mkdir -p $DIR
  export TEMP=$DIR
  cd $DIR
}

alias -g tfgen="terraform-docs md --anchor=false --output-file README.md"
alias -g gss="git status -s"

alias dip="docker inspect -f '\{\{range .NetworkSettings.Networks\}\}\{\{.IPAddress\}\}\{\{end\}\}'"
alias kcn="kubie ns"
alias kcuc="kubie ctx"
alias kak="kubectl apply -k"
alias kaf="kubectl apply -f"
alias kk="kubectl --kubeconfig ~/.kube/second"
alias ks="k -n kube-system"
alias patchFinalizers="kubectl patch -p '{\"metadata\":{\"finalizers\":[]}}' --type=merge -n"
alias kebug="kubectl run --rm -ti --image docker.io/nicolaka/netshoot debugbox$RANDOM -- bash"

function argopf() {
  namespace="argocd"
  if [[ "$1" != "" ]]
  then
    namespace="$1"
  fi
  kubectl port-forward -n $namespace svc/argocd-server 8080:80 & > /dev/null
}
function getArgoAdminPW() {
  namespace="argocd"
  if [[ "$1" != "" ]]
  then
    namespace="$1"
  fi
  kubectl get secret -n $namespace argocd-initial-admin-secret -o=jsonpath='{.data.password}' | base64 -d
}
function getArgoRedisPW() {
  namespace=argocd
  if [[ "$1" != "" ]]
  then
    namespace="$1"
  fi
  kubectl get secret  -n $namespace argocd-redis -o=jsonpath='{.data.auth}' | base64 -d
}
function getArgoRedisShell() {
  namespace=argocd
  if [[ "$1" != "" ]]
  then
    namespace="$1"
  fi
  kubectl exec -n $namespace -ti deploy/argocd-redis -- redis-cli -a $(getArgoRedisPW)
}

function restartArgo() {
  namespace="argocd"
  if [[ "$1" != "" ]]
  then
    namespace="$1"
  fi
  kubectl rollout restart -n $namespace deployment/$namespace-server
  kubectl rollout restart -n $namespace deployment/$namespace-repo-server
  kubectl rollout restart -n $namespace deployment/$namespace-redis
  kubectl rollout restart -n $namespace deployment/$namespace-applicationset-controller
  kubectl rollout restart -n $namespace deployment/$namespace-notifications-controller
  kubectl rollout restart -n $namespace deployment/$namespace-dex-server
  kubectl rollout restart -n $namespace sts/$namespace-application-controller
}

function newArgo() {
  if [[ "$1" != "" ]]
  then
    helm upgrade -i $1 -n $1 --create-namespace oci://ghcr.io/argoproj/argo-helm/argo-cd --set crds.install=false
  else
    helm upgrade -i argocd -n argocd --create-namespace oci://ghcr.io/argoproj/argo-helm/argo-cd 
  fi
}

alias hubblepf="kubectl port-forward -n kube-system svc/hubble-relay 4245:80"

pruned() {
  docker system prune -a --volumes
}

podCountPerNode() {
        kubectl get pods -A -o json | jq -rs 'map({Node: .items[].spec.nodeName}) | group_by(.Node) | map({Node: .[0].Node, Pods: length}) ' | jq -r '"Node\t\t\t\t\t\tPods","----------------------------------------------\t----",( .[] | "\(.Node)\t\(.Pods
)")'
}
podsByNodeLabel() {
  for node in $(kubectl get nodes -l $1 -ojsonpath='{.items[*].metadata.name}'); do 
    kubectl get pods -A -o wide --field-selector spec.nodeName=$node
  done
}
allns() {
  for i in $(kubectl api-resources --verbs=list --namespaced -o name | grep -v "events.events.k8s.io" | grep -v "events" | sort | uniq); do
    echo "Resource:" $i

    if [ -z "$1" ]
    then
        kubectl get --ignore-not-found ${i}
    else
        kubectl -n ${1} get --ignore-not-found ${i}
    fi
  done
}
startSSMSession() {
        aws ssm start-session --target $1
}
ssmToInstance() {
  nodeToExec=$(kubectl get nodes -o=name | sed -e 's/^node\///g' | fzf)
  id=$(kubectl get node $nodeToExec -o=jsonpath='{.spec.providerID}' | grep -Eo 'i-[a-z0-9]{1,}$')
  aws ssm start-session --target $id 
}
nodeCount() {
        count=$(kubectl get nodes --no-headers | wc -l)
        cluster=$(kubectl config current-context)
        echo "$cluster has $count nodes"
}
podCount() {
        count=$(kubectl get pods -A --no-headers | wc -l)
        cluster=$(kubectl config current-context)
        echo "$cluster has $count pods"
}
podPlacement() {
   all_azs=$(kubectl get nodes -o jsonpath='{.items[*].metadata.labels.topology\.kubernetes\.io/zone}')
   for az in $(echo "${all_azs[@]}" | tr ' ' '\n' | sort -u | tr '\n' ' '); do
     total_count=0
     for node in $(kubectl get nodes -l "topology.kubernetes.io/zone=$az" -o=jsonpath='{.items[*].metadata.name}'); do
       count=$(kubectl get pods -A -l $1 --field-selector spec.nodeName=$node --no-headers | wc -l)
       echo "$node: $count"
       total_count=$((total_count + count))
     done
     echo "Total in $az: $total_count"
   done
}
nodesInAZ() {
   NODES=$(kubectl get nodes -o json -l eks.amazonaws.com/nodegroup=$1 | jq -r '.items[].metadata.name')
   for node in $NODES; do
         count=$(kubectl get pods -A --field-selector spec.nodeName=$node --no-headers | wc -l)
         echo "$node: $count"
   done
}
selfSigned() {
  openssl req -x509 -newkey rsa:4096 -keyout key.pem -out cert.pem -days 365 -nodes
}
switchArgoImage() {
  kubectl set image -n argocd sts/argocd-application-controller "*=$1"
  kubectl set image -n argocd deploy/argocd-server "*=$1"
  kubectl set image -n argocd deploy/argocd-repo-server "*=$1"
}
drainNode() {
  kubectl drain --ignore-daemonsets --delete-emptydir-data $1
}
getUnschedulableNodes() {
  echo $(kubectl get nodes -o=jsonpath='{.items[?(@.spec.unschedulable==true)].metadata.name}')
}
drainUnschedulableNodes() {
  for node in $(kubectl get nodes -o=jsonpath='{.items[?(@.spec.unschedulable==true)].metadata.name}')
  do
    echo $node
    kubectl drain $node --delete-emptydir-data --ignore-daemonsets --force
    echo ""
  done
}
allMatchingResources() {
 # input node, pod or some resource and it will give all with the name pattern
 k get $1 -o=jsonpath='{.items[*].metadata.name}'  | sed 's/ /\n/g' | grep $2 | tr '\n' ' '                       
}
podsByNodeLabel() {
  for node in $(kubectl get nodes -l $1 -o=jsonpath='{.items[*].metadata.name}'); do 
    kubectl get pods -A -o wide --field-selector spec.nodeName=$node
  done
}
podPlacement() {
  all_azs=$(kubectl get nodes -o jsonpath='{.items[*].metadata.labels.topology\.kubernetes\.io/zone}')
  for az in $(echo "${all_azs[@]}" | tr ' ' '\n' | sort -u | tr '\n' ' '); do
    total_count=0
    for node in $(kubectl get nodes -l "topology.kubernetes.io/zone=$az" -o=jsonpath='{.items[*].metadata.name}'); do
      count=$(kubectl get pods -A -l $1 --field-selector spec.nodeName=$node --no-headers | wc -l)
      echo "$node: $count"
      total_count=$((total_count + count))
    done
    echo "Total in $az: $total_count"
  done
}
getPodsOnNode() {
  kubectl get pods -A -o=json | jq ".items[] | select(.spec.nodeName==\"$1\") | \"\(.metadata.namespace)/\(.metadata.name)\"" | tr -d "\""
}
podsOnUnschedulableNodes() {
  for node in $(kubectl get nodes -o=jsonpath='{.items[?(@.spec.unschedulable==true)].metadata.name}')
  do
    echo $node
    kubectl get pods -A -o=json | jq ".items[] | select(.spec.nodeName==\"$node\") | \"\(.metadata.namespace)/\(.metadata.name)\"" | tr -d "\""
    echo ""
  done
}
shotgun() {
  arrIN=($(echo $1 | tr "/" " "))
  kubectl delete pod -n ${arrIN[1]} --force --grace-period 0 ${arrIN[2]}
}
shg() {
  kubectl delete pod --force --grace-period 0 $1
}
getNodesWithoutDS() {
  selectorLabels=$(kubectl -n $1 get ds $2 -o=jsonpath='{.spec.template.metadata.labels}' | jq 'to_entries[]| "\(.key)=\(.value)"' | tr -d "\"" | tr "\n" "," | sed -e 's/,$//g')
  function nodesWithPod { kubectl get pods -A -l $1 -o=json | jq -r '.items[].spec.nodeName'; }
  function allNodes { kubectl get nodes -o json | jq -r '.items[].metadata.name'; }
  sort <(allNodes) <(nodesWithPod $selectorLabels) | uniq -u
}
nodesInAZ() {
  NODES=$(kubectl get nodes -o json -l eks.amazonaws.com/nodegroup=$1 | jq -r '.items[].metadata.name')
  for node in $NODES; do
        count=$(kubectl get pods -A --field-selector spec.nodeName=$node --no-headers | wc -l)
        echo "$node: $count"
  done
}
getPodsOnNodeByLabel() {
  kubectl get pods -A -l $1 -o=json | jq ".items[] | select(.spec.nodeName==\"$2\") | \"\(.metadata.namespace)/\(.metadata.name)\"" | tr -d "\""
}
gethostPodsByNode() {
  for node in $(kubectl get nodes -o=jsonpath='{.items[*].metadata.name}')
  do
    echo $node
    kubectl get pods -A -o=json | jq ".items[] | select(.spec.nodeName==\"$node\") | select(.spec.hostNetwork==true) | \"\(.metadata.namespace)/\(.metadata.name)\"" | tr -d "\""
    echo ""
  done
}
showGPUNodes() {
  kubectl get nodes -o json | jq -r '.items[] | select(.status.capacity."nvidia.com/gpu" != null) | {name: .metadata.name, capacity: .status.capacity}'
}
