#!/bin/sh

{{- if eq .username "technat" }}
# for any remote system other usernames are used (e.g codespace or ssm-user)
gpg --recv-keys {{ .signingkey }} > /dev/null
(echo trust &echo 5 &echo y &echo quit) | gpg --command-fd 0 --edit-key {{ .email }} > /dev/null
{{- end }}
