#!/bin/sh
{{- if not .is_remote }}
# dconf dump / | sed -n '/\[org.gnome.settings-daemon.plugins.media-keys/,/^$/p' > custom-shortcuts.conf # Export if needed

dconf load / < {{ .chezmoi.workingTree }}/custom-shortcuts.conf # Import current custom shortcuts
{{- end }}
