#!/bin/sh

TF_VERSION=1.5.5 # see https://developer.hashicorp.com/terraform/downloads
TF_DOCS_VERSION=v0.16.0 # see https://github.com/terraform-docs/terraform-docs/releases
ARCH={{ .chezmoi.arch }}
OS={{ .chezmoi.os }}

## Terraform
curl -sSL -o /tmp/terraform-$OS-$ARCH.zip https://releases.hashicorp.com/terraform/$TF_VERSION/terraform_"$TF_VERSION"_"$OS"_$ARCH.zip 
unzip -qq /tmp/terraform-$OS-$ARCH.zip -d /tmp
sudo install -o root -g root -m 0555 /tmp/terraform /usr/local/bin/terraform 
rm /tmp/terraform /tmp/terraform-$OS-$ARCH.zip

## Terraform docs
curl -sSL -o /tmp/terraform-docs-$OS-$ARCH.tar.gz https://github.com/terraform-docs/terraform-docs/releases/download/$TF_DOCS_VERSION/terraform-docs-"$TF_DOCS_VERSION"-"$OS"-$ARCH.tar.gz 
tar -xzf /tmp/terraform-docs-$OS-$ARCH.tar.gz -C /tmp 
sudo install -o root -g root -m 0555 /tmp/terraform-docs /usr/local/bin/terraform-docs 
rm /tmp/terraform-docs /tmp/terraform-docs-$OS-$ARCH.tar.gz
