#!/bin/sh

VERSION=1.2.497.0 # see https://github.com/aws/session-manager-plugin/releases

{{- if (or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") (eq .osid "linux-pop")) }}
  {{- if eq .chezmoi.arch "arm64" }}
  curl "https://s3.amazonaws.com/session-manager-downloads/plugin/$VERSION/ubuntu_arm64/session-manager-plugin.deb" -o "session-manager-plugin.deb" > /dev/null
  sudo dpkg -i session-manager-plugin.deb >/dev/null
  {{ else }}
  curl "https://s3.amazonaws.com/session-manager-downloads/plugin/$VERSION/ubuntu_64bit/session-manager-plugin.deb" -o "session-manager-plugin.deb" > /dev/null
  sudo dpkg -i session-manager-plugin.deb > /dev/null
  {{- end }}
{{- else if eq .osid "linux-amzn" }}
  {{- if eq .chezmoi.arch "arm64" }}
  sudo yum install -y https://s3.amazonaws.com/session-manager-downloads/plugin/$VERSION/linux_arm64/session-manager-plugin.rpm > /dev/null
  {{ else }}
  sudo yum install -y https://s3.amazonaws.com/session-manager-downloads/plugin/$VERSION/linux_64bit/session-manager-plugin.rpm > /dev/null
  {{- end }}
{{- end }}
