#!/bin/sh

VERSION=v1.4.4 # Select desired TAG from https://github.com/kubernetes-sigs/cluster-api/releases
ARCH={{ .chezmoi.arch }}
OS={{ .chezmoi.os }}

curl -sSL https://github.com/kubernetes-sigs/cluster-api/releases/download/$VERSION/clusterctl-$OS-$ARCH -o /tmp/clusterctl-$OS-$ARCH
sudo install -m 555 /tmp/clusterctl-$OS-$ARCH /usr/local/bin/clusterctl
rm /tmp/clusterctl-$OS-$ARCH -rf
