#!/bin/sh

KUBECTL_VERSION=v1.27.2 # see https://storage.googleapis.com/kubernetes-release/release/stable.txt
K9S_VERSION=v0.27.4 # see https://github.com/derailed/k9s/releases
KIND_VERSION=v0.19.0 # see https://github.com/kubernetes-sigs/kind/releases
K3D_VERSION=v5.5.1 # see https://github.com/k3d-io/k3d/releases
ARCH={{ .chezmoi.arch }}
OS={{ .chezmoi.os }}

## Kubectl
curl -sSL -o /tmp/kubectl-$OS-$ARCH https://dl.k8s.io/release/$KUBECTL_VERSION/bin/$OS/$ARCH/kubectl
sudo install -o root -g root -m 0555 /tmp/kubectl-$OS-$ARCH /usr/local/bin/kubectl 
rm /tmp/kubectl-$OS-$ARCH

# completion done by oh-my-zsh plugin

## Kind
curl -sSL -o /tmp/kind-$OS-$ARCH https://kind.sigs.k8s.io/dl/$KIND_VERSION/kind-$OS-$ARCH
sudo install -m 555 /tmp/kind-$OS-$ARCH /usr/local/bin/kind
rm /tmp/kind-$OS-$ARCH

## K9s
curl -sSL -o /tmp/k9s-$OS-$ARCH.tar.gz -L https://github.com/derailed/k9s/releases/download/$K9S_VERSION/k9s_"$OS"_$ARCH.tar.gz
tar -zxf /tmp/k9s-$OS-$ARCH.tar.gz -C /tmp
sudo install -o root -g root -m 0555 /tmp/k9s /usr/local/bin/k9s
sudo rm /tmp/README.md /tmp/LICENSE /tmp/k9s-$OS-$ARCH.tar.gz

## K3d
curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | TAG=$K3D_VERSION bash > /dev/null
