#!/bin/sh

VERSION=v2.8.0 # see https://github.com/argoproj/argo-cd/releases
ARCH={{ .chezmoi.arch }}
OS={{ .chezmoi.os }}

curl -sSL -o /tmp/argocd-$OS-$ARCH https://github.com/argoproj/argo-cd/releases/download/$VERSION/argocd-$OS-$ARCH
sudo install -m 555 /tmp/argocd-$OS-$ARCH /usr/local/bin/argocd
rm /tmp/argocd-$OS-$ARCH

