#!/bin/sh
{{- if (or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") (eq .osid "linux-pop")) }}
export DEBIAN_FRONTEND=noninteractive
sudo apt update > /dev/null
sudo apt install tmux vim zsh git gpg gnupg2 gnupg-agent scdaemon pcscd lsb-release unzip -y  > /dev/null
{{- end}}
